* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.main {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: center;
    height: 20%;
    align-items: center;
}

.grid {
    display: grid;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 5px solid black; 
}

.grid-item {
    border: 1px solid black;
    border-radius: 1px;
    user-select: none;
    grid-template-columns: auto minmax(0, 1fr) auto;        
}

